<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Editar Usuario</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/LogoBenjaminDark.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.min.css}" />
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" />
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" />
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/js/select.dataTables.min.css}" />
  <!-- End plugin css for this page -->
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- partial:partials/_sidebar.html -->
    <div th:replace="fragmentos :: html_sidebar"></div>
    <!-- partial -->
    <div class="body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <div th:replace="fragmentos :: html_navbar"></div>
      <!-- partial -->
      <div class="container-fluid">
        <!-- Row 1 -->
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Editar Usuario</h5>
              <div class="card">
                <div class="card-body">
                  <form name="frmeditusuario" method="post" autocomplete="off" th:action="@{/actualizarUsuario}"
                    th:object="${usuario}">
                    <div class="row d-none">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="ID" class="form-label">ID</label>
                          <input type="text" id="ID" th:field="*{iduser}" class="form-control" readonly="readonly"
                            aria-describedby="ID">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="Username" class="form-label">Username</label>
                          <input type="text" id="Username" th:field="*{username}" required="required"
                            class="form-control" aria-describedby="Username">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="Password" class="form-label">Password</label>
                          <input type="password" id="Password" th:field="*{password}" required="required"
                            class="form-control" aria-describedby="Password">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Seleccionar Rol</label><br>
                          <select id="Rol" th:field="*{rol}" class="form-select">
                            <option th:each="role:${listaRoles}" th:value="${role.idrol}" th:text="${role.rolname}">
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">
            Los 4 Compitas Copyright © 2023. Todos los derechos reservados.
          </p>
        </footer>
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/sidebarmenu.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>