<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="html_navbar" class="app-header">
	<nav class="navbar navbar-expand-lg navbar-light">
	<ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-nav" sec:authorize="isAuthenticated()">
				Bienvenido al Sistema  &nbsp; <span sec:authentication="name">Username</span>
				&nbsp;
				<b sec:authentication="principal.authorities">Rol</b>
			</div>
	
	<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <form th:action="@{/logout}" method="post">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <input type="submit" value="Cerrar Sesion" class="btn btn-danger">
            </ul>
          </form>
          </div>
    </nav>
	</header>
	
	<aside th:fragment="html_sidebar" class="left-sidebar">
	<div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a class="text-nowrap logo-img">
            <img src="/assets/images/logos/LogoBenjaminDark.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
	<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a th:href="@{/menu}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" class="sidebar-item">
              <a  th:href="@{/listaUsuarios}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Usuarios</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" class="sidebar-item">
              <a th:href="@{/listarCajero}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-brand-cashapp"></i>
                </span>
                <span class="hide-menu">Cajeros</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" class="sidebar-item">
              <a th:href="@{/listardoc}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-school"></i>
                </span>
                <span class="hide-menu">Docentes</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" class="sidebar-item">
              <a th:href="@{/listarSecretaria}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-heart-handshake"></i>
                </span>
                <span class="hide-menu">Secretarias</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','CAJERO')" class="sidebar-item">
              <a th:href="@{/listarApo}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-building-warehouse"></i>
                </span>
                <span class="hide-menu">Apoderados</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','CAJERO')" class="sidebar-item">
              <a th:href="@{/listarestu}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-backpack"></i>
                </span>
                <span class="hide-menu">Estudiantes</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','CAJERO')" class="sidebar-item">
              <a th:href="@{/listadoPago}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-moneybag"></i>
                </span>
                <span class="hide-menu">Pagos</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','SECRETARIA')" class="sidebar-item">
              <a th:href="@{/listarSal}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-door"></i>
                </span>
                <span class="hide-menu">Salones</span>
              </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','SECRETARIA')" class="sidebar-item">
              <a th:href="@{/Matriculas}" class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="ti ti-abacus"></i>
                </span>
                <span class="hide-menu">Matriculas</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
	</aside>
</body>
</html>