<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Nuevo Cajero</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/LogoBenjaminDark.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.min.css}" />
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" />
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" />
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/js/select.dataTables.min.css}" />
  <!-- End plugin css for this page -->
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- partial:partials/_sidebar.html -->
    <div th:replace="fragmentos :: html_sidebar"></div>
    <!-- partial -->
    <div class="body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <div th:replace="fragmentos :: html_navbar"></div>
      <!-- partial -->
      <div class="container-fluid">
        <!-- Row 1 -->
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Nuevo Cajero</h5>
              <div class="card">
                <div class="card-body">
                  <form name="frmnuevocajero" method="post" autocomplete="off" th:action="@{/guardarCajero}"
                    th:object="${cajero}">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="Nombre" class="form-label">Nombre</label>
                          <input type="text" id="Nombre" th:field="*{nombre}" required="required" class="form-control"
                            aria-describedby="Nombre">
                        </div>
                        <div class="mb-3">
                          <label for="ApePat" class="form-label">Apellido Paterno</label>
                          <input type="text" id="ApePat" th:field="*{apepat}" required="required" class="form-control"
                            aria-describedby="ApePat">
                        </div>
                        <div class="mb-3">
                          <label for="ApeMat" class="form-label">Apellido Materno</label>
                          <input type="text" id="ApeMat" th:field="*{apemat}" required="required" class="form-control"
                            aria-describedby="ApeMat">
                        </div>
                        <div class="mb-3">
                          <label for="FechaDeNacimiento" class="form-label">Fecha de Nacimiento</label>
                          <input type="date" id="FechaDeNacimiento" th:field="*{fechadenac}" class="form-control"
                            aria-describedby="FechaDeNacimiento">
                        </div>
                        <div class="mb-3">
                          <label for="Telefono" class="form-label">Telefono</label>
                          <input type="number" id="Telefono" th:field="*{telefono}" class="form-control"
                            aria-describedby="Telefono">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Status</label>
                          <select class="form-select" th:field="*{estado}" name="estado">
                            <option th:value="0" selected>Seleccionar</option>
                            <option th:value="Activo">ACTIVO</option>
                            <option th:value="Inactivo">INACTIVO</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="InicioContrato" class="form-label">Inicio Contrato</label>
                          <input type="date" id="InicioContrato" th:field="*{fechadeinicontrat}" required="required"
                            class="form-control" aria-describedby="InicioContrato">
                        </div>
                        <div class="mb-3">
                          <label for="FinContrato" class="form-label">Fin Contrato</label>
                          <input type="date" id="FinContrato" th:field="*{fechadefincontrat}" required="required"
                            class="form-control" aria-describedby="FinContrato">
                        </div>
                        <div class="mb-3">
                          <label for="Sueldo" class="form-label">Sueldo</label>
                          <input type="number" id="Sueldo" th:field="*{sueldo}" step="100" required="required"
                            class="form-control" aria-describedby="Sueldo">
                        </div>
                        <div class="mb-3">
                          <label for="Correo" class="form-label">Correo</label>
                          <input type="email" id="Correo" th:field="*{correo}" class="form-control"
                            aria-describedby="Correo">
                        </div>
                        <div class="mb-3">
                          <label for="Direccion" class="form-label">Direccion</label>
                          <input type="text" id="Direccion" th:field="*{direccion}" required="required"
                            class="form-control" aria-describedby="Direccion">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Distrito</label><br>
                          <select id="distrito" th:field="*{distrito}" class="form-select">
                            <option value="SMP">SMP</option>
                            <option value="Los Olivos">Los Olivos</option>
                            <option value="Callao">Callao</option>
                            <option value="Independencia">Independencia</option>
                            <option value="Comas">Comas</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="Observaciones" class="form-label">Observaciones</label>
                          <input type="text" id="Observaciones" th:field="*{observaciones}" class="form-control"
                            aria-describedby="Observaciones">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">
            Los 4 Compitas Copyright © 2023. Todos los derechos reservados.
          </p>
        </footer>
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/sidebarmenu.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>