<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pagos</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/LogoBenjaminDark.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.min.css}">
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/js/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- partial:partials/_sidebar.html -->
    <div th:replace="fragmentos :: html_sidebar"></div>
    <!-- partial -->
    <div class="body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <div th:replace="fragmentos :: html_navbar"></div>
      <!-- partial -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-12 d-flex align-items-stretch">
            <a th:href="@{/registroPago}" class="btn btn-primary"><i class="ti ti-plus"></i></a>
          </div>
          <br>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Pagos</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead>
                      <tr>
                        <th class="border-bottom-0">ID</th>
                        <th class="border-bottom-0">Fecha de Operacion</th>
                        <th class="border-bottom-0">Monto Pagado</th>
                        <th class="border-bottom-0">Concepto</th>
                        <th class="border-bottom-0">Cajero</th>
                        <th class="border-bottom-0">Apoderado</th>
                        <th class="border-bottom-0">Estudiante</th>
                        <th class="border-bottom-0">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-bottom-0" th:each="pago:${listapagos}">
                        <td class="border-bottom-0" th:text="${pago.idpago}"></td>
                        <td class="border-bottom-0"
                          th:text="${pago.fechaoperacion}"></td>
                        <td class="border-bottom-0" th:text="${pago.monto}"></td>
                        <td class="border-bottom-0" th:text="${pago.concepto.nomconcepto}"></td>
                        <td class="border-bottom-0" th:text="${#strings.concat(pago.cajero.nombre,' ',pago.cajero.apepat,' ',pago.cajero.apemat)}"></td>
                        <td class="border-bottom-0" th:text="${#strings.concat(pago.apoderado.nombre,' ',pago.apoderado.apepat,' ',pago.apoderado.apemat)}"></td>
                        <td class="border-bottom-0" th:text="${#strings.concat(pago.estudiante.nombre,' ',pago.estudiante.apepat,' ',pago.estudiante.apemat)}"></td>
                        <td class="border-bottom-0">
                          <a th:href="@{/editarPago/}+${pago.idpago}"
                            class="ti ti-pencil btn btn-warning"></a>
                          <a th:href="@{/borrarPago/}+${pago.idpago}" class="ti ti-trash btn btn-danger">
                          </a>
                          <a th:href="@{/imprimirPago/}+${pago.idpago}"
                            class="ti ti-printer btn btn-success"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">
            Los 4 Compitas Copyright © 2023. Todos los derechos reservados.
          </p>
        </footer>
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/sidebarmenu.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>