<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Registro Matricula</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/LogoBenjaminDark.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.min.css}" />
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" />
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" />
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/js/select.dataTables.min.css}" />
  <!-- End plugin css for this page -->
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- partial:partials/_sidebar.html -->
    <div th:replace="fragmentos :: html_sidebar"></div>
    <!-- partial -->
    <div class="body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <div th:replace="fragmentos :: html_navbar"></div>
      <!-- partial -->
      <div class="container-fluid">
        <!-- Row 1 -->
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Registro Matricula</h5>
              <div class="card">
                <div class="card-body">
                  <form name="frmMatricula" method="post" autocomplete="off" th:action="@{/guardarMat}"
                    th:object="${matricula}">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="MontoPagado" class="form-label">Monto Pagado</label>
                          <select id="MontoPagado" th:field="*{pago}" class="form-select">
                            <option th:each="pag:${listaPago}" th:value="${pag.idpago}"
                              th:if="${pag.concepto.nomconcepto=='Matricula'}" th:text="${#strings.concat('S/. ',pag.monto,' - ',pag.estudiante.nombre,' ',pag.estudiante.apepat,
                            ' - ', pag.fechaoperacion)}" />
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="DatosSecretaria" class="form-label">Datos Secretaria</label>
                          <select id="DatosSecretaria" th:field="*{secretaria}" class="form-select">
                            <option th:each="secreta:${listaSecretaria}" th:value="${secreta.idsecretaria}"
                              th:text="${#strings.concat(secreta.nombre,' ',secreta.ape_pat)}" />
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="FechaDeMatricula" class="form-label">Fecha de Matricula</label>
                          <input type="date" id="FechaDeMatricula" th:field="*{fechamatricula}" required="required"
                            class="form-control" aria-describedby="FechaDeMatricula">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Cronograma</label><br>
                          <select id="Cronograma" th:field="*{cronograma}" class="form-select">
                            <option value="1er mes">1er mes </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="Observaciones" class="form-label">Salon</label>
                          <select id="Salon" th:field="*{salon}" class="form-select">
                            <option th:each="sal:${listaSalon}" th:value="${sal.idsalon}"
                              th:text="${#strings.concat(sal.grado,' - ',sal.seccion,' - ',(sal.anio))}" />
                          </select>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">
            Los 4 Compitas Copyright © 2023. Todos los derechos reservados.
          </p>
        </footer>
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/sidebarmenu.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>